*{
	margin: 0px;
	padding: 0px;
}

body{
  background-color: black;  
}

@font-face {
    font-family: 'space_groteskregular';
    src: url('spacegrotesk-regular-webfont.woff2') format('woff2'),
         url('spacegrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'space_groteskbold';
    src: url('spacegrotesk-bold-webfont.woff2') format('woff2'),
         url('spacegrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
    font-family: 'space_groteskregular';
    font-size: 0.94em;
    color: white;
}

.chart1{
    max-width: 400px;
    margin: 50px auto;
}

.chart2{
    max-width: 400px;
    margin: 50px auto;
}

.chart3{
    max-width: 400px;
    margin: 50px auto;
}

.chart4{
    max-width: 400px;
    margin: 50px auto;
}

.chart5{
    max-width: 400px;
    margin: 50px auto;
}